<%= simple_nested_form_for @source, html: {class: "span12"} do |f| %>
  <%= render 'sources/relationship_table', f: f %>
  <%= f.input "disjoint_relationship", input_html: { value: true }, as: :hidden if @wizard.try(:active?) -%>
  <%= f.input "wizard[databases]", input_html: { value: @wizard.try(:databases) }, as: :hidden if @wizard.try(:active?) -%>
  <%= f.input "wizard[relationships]", input_html: { value: @wizard.try(:relationships) }, as: :hidden if @wizard.try(:active?) -%>
  <%= f.input "wizard[forms]", input_html: { value: @wizard.try(:forms) }, as: :hidden if @wizard.try(:active?) -%>
  <%= f.input "wizard[reports]", input_html: { value: @wizard.try(:reports) }, as: :hidden if @wizard.try(:active?) -%>
  <div class="form-actions">
    <%= f.button :submit, "Save", class: "btn btn-primary" %>
  </div>
<% end -%>
