<%= simple_nested_form_for @source, html: {class: "form-search"} do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :set_name %><br>
    <%= f.simple_fields_for :model_attributes do |m| %>
      <%= render 'sources/model_attribute_fields', f: m %>
    <% end -%>
    <%= f.link_to_add 'Add Field', :model_attributes, class: "btn btn-inverse btn-small"%>
    <hr>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Create Data Source", class: "btn btn-primary" %>
    <%= link_to 'Back', sources_path, class: "btn" %>
  </div>
<% end %>

