<%= render 'sources/import' unless @edit %>
<%= simple_nested_form_for @source, html: {class: ""} do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="pull-right">
      <%= link_to ' Back', user_path(current_user), class: "icon-backward btn btn-large" unless @wizard.try(:active?)%><br><br>
      <%= button_tag(type: 'submit', class: "btn btn-large btn-primary") do %>
        <i class='icon-save'> Save</i>
      <% end -%><br><br>
      <% unless @edit -%>
      <div class="btn-group">
        <a href="#" class="btn btn-large btn-success"><i class="icon-cloud-upload"></i> Import</a>
        <a href="#" class="btn btn-large btn-success dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#myHeader" role="button" data-toggle="modal">Headers</a></li>
          <li><a href="#myMaster" role="button" data-toggle="modal">Master Data</a></li>
        </ul>
      </div><br><br>
    <% end -%>
       
</div>
    <%= f.input :source_name, label: "Name your Register", hint: "Add fields to build your register. Custom validations will help keep your data clean." %> 
    <%= wizard_helper f, @wizard if @wizard.try(:active?) %><br>
    <%= f.link_to_add ' Add Field', :source_attributes, class: "btn btn-large icon-plus"%><br><br><br>
    <div class="source_attributes_fields row">
      <%= f.simple_fields_for :source_attributes do |m| %>
        <div id="fieldset">
          <%= render 'sources/model_attribute_fields', f: m %>
        </div>
      <% end -%>
    </div>
  </div>

<% end %>

