<%= simple_nested_form_for @source, html: {class: "span12"} do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= render 'sources/relationships', f: f unless @wizard.try(:active?) %>
    <%= f.input :source_name, label: "Name your Database", hint: "Add fields to build your database. Custom validations will help keep your data clean." %> 
    <%= wizard_helper f, @wizard %>
    <%= link_to ' Relationships', '#relationships', "data-toggle" => "modal", class: "btn btn-small icon-share" unless @wizard.try(:active?) %> <br><br>
    <%= f.simple_fields_for :source_attributes do |m| %>
      <%= render 'sources/model_attribute_fields', f: m %>
    <% end -%>
    <%= f.link_to_add ' Add Field', :source_attributes, class: "btn btn-danger icon-plus"%>
  </div>

  <br>
  <br>
  <br>
  <div class="form-actions">
    <%= f.button :submit, "Save", class: "btn btn-primary" %>
    <%= link_to 'Back', user_path(current_user), class: "btn" %>
  </div>
<% end %>

