<!-- Modal -->
<div id="myHeader" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Import Headers</h3>
    </div>
    <div class="modal-body">
      <p>Provide us an excel sheet with headers & a line of data. We'll try & guess what your register should look like.</p>
      <%= form_tag import_sources_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= hidden_field_tag :import, "header" %>
        <%= wizard_tag_helper @wizard if @wizard.try(:active?) %>
        <%= submit_tag "Import", class: "btn btn-success" %>
      <% end %>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>
<!-- Modal -->
<div id="myMaster" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Import Master</h3>
    </div>
    <div class="modal-body">
      <p>Upload an excel sheet with master data. We'll create a register for you & fill it up with the data provided. This could be fed into another register as a drop-down or a multi-select</p>
      <%= form_tag import_sources_path, multipart: true do %>
        <%= text_field_tag :source_name, nil, placeholder: "Name your register" %><br>
        <%= file_field_tag :file %>
        <%= wizard_tag_helper @wizard if @wizard.try(:active?) %>
        <%= hidden_field_tag :import, "master" %>
        <%= submit_tag "Import", class: "btn btn-success" %>
      <% end %>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>
