<table class = "table table-bordered" id="">
  <thead>
    <th>Name</th>
    <th>Updated</th>
    <th>Actions</th>
  </thead>

  <tbody>
  <% @sources.each do |source| %>
    <tr>
      <td><%= source.source_name %></td>
      <td><%= time_ago_in_words(source.updated_at) %> ago.</td>
      <td><%= link_to 'Show', source %>
      <%= link_to 'Edit', edit_source_path(source) %>
      <%= link_to 'Destroy', source, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</tbody>
</table>
