<table class = "table table-bordered" id="datatables">
  <thead>
    <th>Name</th>
    <th>Created At</th>
    <th>Actions</th>
  </thead>

  <tbody>
  <% @sources.each do |source| %>
    <tr>
      <td><%= source.source_name %></td>
      <td><%= source.created_at %></td>
      <td><%= link_to 'Show', source %>
      <%= link_to 'Edit', edit_source_path(source) %>
      <%= link_to 'Destroy', source, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</tbody>
</table>
