<div class="span2 well shadow">
  <%= f.input_field :field_name, label: 'Field Name', placeholder: 'Field Name', class: "input-block span2" %><br>
  <%= f.input_field :field_type, label: 'Field Type', collection: Source.mapping.keys, prompt: 'Select Field Type', class: "input-block span2" %><br>
  <%= link_to ' validations', '#', class: "badge icon-check", id: "toggle_validation", style: "font-size: 90%;" %><br><br>
  <%= f.link_to_remove ' remove field', class: 'icon-remove badge'%>
</div>
<div class="model_validations modal hide fade">
  <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Validations</h3><br>
        <%= f.link_to_add ' Add Validation', :model_validations, class: "icon-plus btn"%>
  </div>
  <div class="modal-body">
    <%= f.simple_fields_for :model_validations do |v| %>
      <%= render 'sources/model_validation_fields', m: v %>
    <% end -%>
  </div>
  <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
