<h2><%= @source.set_name %> - <small><%= link_to 'View Form', new_form_path(@source.id) %></small></h2>
<hr>
<table class = "table table-bordered" id = "datatables">
  <thead>
    <th>Field Name</th>
    <th>Field Type</th>
  </thead>

  <tbody>
  <% @attributes.each do |m| %>
    <tr>
      <td><%= m.field_name %></td>
      <td><%= m.field_type %></td>
    </tr>
  <% end -%>
  </tbody>
</table>


<hr>
<%= link_to 'Edit', edit_source_path(@source), class: "btn" %> 
<%= link_to 'Back', user_path(current_user), class: "btn" %>
