<h2><%= @source.set_name %></h2>
<%= link_to 'View Form', new_form_path(@source.id) %>
<hr>
<% @source.model_attributes.each do |m| %>
  <li><b><%= m.field_name %></b>: <%= m.field_type %></li>
<% end -%>


<%= link_to 'Edit', edit_source_path(@source) %> |
<%= link_to 'Back', sources_path %>
