<%= simple_form_for(@application) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :application_name %>
    <%= wizard_helper f, @wizard %>
    <%= f.input :application_description, as: :text, input_html: {rows: 5} %>
    <%= f.input :email_header, label: "Email Subject", hint: "Your can define a custom email subject & body for your invitations." %>
    <%= f.input :email_message, label: "Email Body", as: :text, input_html: {rows: 5} %>
  </div>

  <div class="form-actions">
    <% if @wizard.try(:active?) -%>
      <% button_text = "Take me to my Application" -%>
    <% else -%>
      <% button_text = "Submit" -%>
    <% end -%>
    <%= f.button :submit, button_text, class: "btn btn-primary btn-large" %>
    <%= link_to 'Back', user_path(current_user), class: "btn btn-large" %>
  </div>
<% end %>
