<div class="row">
  <div class="add_users well offset10 span2">
    <small class="pull-right"><%= link_to 'Member List', application_members_path(@application) %></small>
    <h4>Add Members</h4>
    <%= form_tag invite_users_path(@application), :method => :post do %>
      <%= text_area_tag :users, nil, placeholder: 'Enter email addresses seperated by commas', rows: 3, class: "input-block-level" %><br>
      <%= submit_tag "Invite Members", class: "btn btn-block" %>
    <% end %>
  </div>
</div>
<div class="row">
<div class="roles well offset10 span2">
  <a href="#role_form" role="button" class="btn btn-small pull-right" data-toggle="modal">Add</a>
  <div id="role_form" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3>Create a Role</h3>
    </div>
    <div class="modal-body"><%= render 'roles/form' %></div>
  </div>
  <h4>Roles</h4>
  <%= render 'roles/index' %>
</div>
