<% content_for :app_url do -%>
  <%= application_path @application %>
<% end -%>
<% content_for :app_name do -%>
  <%= @application.application_name.camelize %>
<% end -%>
<h2>Welcome to <%= @application.application_name  %></h2>
<hr>
<% if current_user.owns_application @application -%>
  <%= render 'owner' %>
<% else -%>
  <%= render 'member' %>
<% end -%>
