<% set_application_parameters -%>
<div class="row">
  <div class="span12">
    <% if @wizard.active? -%>
      <div class="center">
        <h3 class="text-success">Congratulations! Your Application is now live!</h3>
        <b><p class="well"> Use the Owner Panel on the right to invite Stakeholders. Use the Roles tab to define new Roles & Permissions.<br> Click on the builder button on the navigation bar above to modify resources like databases/forms or reports. </p></b>
        <hr>
      </div>
    <% end -%>
    <div class="span7">
      <h2>Welcome to <%= @application.application_name  %></h2>
      <p class="well"><%= @application.application_description %></p>
      <hr>
    </div>
      <% if current_user.owns_application @application -%>
        <div class="span2">
          <%= render 'owner' %>
        </div>
        <div class="span2">
          <%= render 'member' %>
          <%= link_to 'EDIT APP', edit_application_path(@application), class: "btn btn-block" %>
          <%= link_to ' DELETE APP', @application, method: :delete, data: { confirm: 'Are you sure? Once deleted, you will lose all your roles & application members.' }, class: "btn btn-block btn-danger" %></td>
        </div>
      <% else -%>
        <div class="offset2 span2">
          <%= render 'member' %>
        </div>
      <% end -%>
  </div>
</div>
