<table class = "table table-bordered" id="">
  <thead>
    <th>Form Name</th>
    <th>Source</th>
    <th>Updated</th>
    <th>Actions</th>
  </thead>

  <tbody>
  <% @forms.each do |form| %>
    <tr>
      <td><%= form.form_name %></td>
      <td><%= form.source.source_name %></td>
      <td><%= time_ago_in_words(form.updated_at) %> ago.</td>
      <td><%= link_to 'Show', form %>
      <%= link_to 'Edit', edit_form_path(form, source: form.source.id) %>
      <%= link_to 'Destroy', form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</tbody>
</table>

