<%= simple_form_for @user, url: confirm_user_path(@user) do |f| %>
  <%= f.input :name %>
  <%= f.password :password %>
  <%= f.input :password_confirmation %>
  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end -%>
