<div class="row">
  <br>
  <div class="span12">
    <div class="applications well center">
      <h2>Your Applications</h2>
      <%= link_to 'New Application', new_application_path, class: "btn" %>
      <hr>
      <%= render 'applications/index' %>
    </div>
    <div class="row">
      <div class = "sources span4">
        <div class="well center">
          <h2>Databases</h2>
          <%= link_to 'New Database', new_source_path, class: "btn" %>
          <hr>
          <h3>Listing databases</h3>
          <%= render 'sources/index' %>
        </div>
      </div>

      <div class = "forms span4">
        <div class="well center form">
          <h2>Forms</h2>
          <%= form_tag new_form_path, :method => :get, class: "form-search" do %>
            <%= select_tag "source", options_from_collection_for_select(@sources, "id", "source_name"), class: "search-query" %>
          <%= submit_tag "New Form", class: "btn" %>
        <% end -%>
          <hr>
          <h3>Listing forms</h3>
          <%= render 'forms_index' %>
        </div>
      </div>

      <div class = "reports span4">
        <div class="well center report">
          <h2>Reports</h2>
          <%= link_to 'New Report', new_report_path, class: "btn" %>
          <hr>
          <h3>Listing reports</h3>
          <%= render 'reports_index' %>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row span4">
  <% if current_user.inviter? %>
    <h4>Add Builders</h4>
    <%= form_tag invite_builder_path, :method => :post do %>
      <%= text_area_tag :users, nil, placeholder: 'Enter email addresses seperated by commas', rows: 3, class: "input-block-level" %><br>
      <%= submit_tag "Invite Builders", class: "btn" %>
    <% end %>
  <% end %>
</div>
