<%= f.error_notification %>

<div class="form-inputs">
  <% @attributes.each do |m| %>
  
    <% if @available_source_attributes.include? m -%>
      <%= f.input m.field_name.gsub(' ','').underscore.to_sym, as: Source.view_mapping[m.field_type] %>
    <% elsif @available_has_manies.include? m -%>
      <%= f.association m.source.collection_name_helper.to_sym, label_method: m.field_name.attribute.to_sym, value_method: :id, collection: eval(m.source.collection_name_helper.classify).all, label: m.source.source_name %>
    <% elsif @available_belongs_tos.include? m -%>
      <%= f.association m.source.collection_name_helper.singularize.to_sym, label_method: m.field_name.attribute.to_sym, value_method: :id, collection: eval(m.source.collection_name_helper.classify).all, label: m.source.source_name %>
    <% end -%>
  <% end -%>
  <%= hidden_field_tag :form, @form.id %>
</div>

<div class="form-actions">
  <%= f.button :submit, "Save", class: "btn btn-primary" %>
  <%= link_to 'Back', :back, class: "btn" %>
</div>
