<% content_for :app_url do -%>
  <%= application_path @application unless @application.nil? %>
<% end -%>
<% content_for :app_name do -%>
  <%= @application.application_name.camelize unless @application.nil? %>
<% end -%>
<h1>Editing <%= @source.source_name %></h1>
<hr>

<%= simple_form_for(@object, url: form_renderer_path(@object)) do |f| %>
  <%= render 'form', f: f %>
<% end %>
