<% set_application_parameters -%>
<h2><%= @form.form_name %></h2>
<hr>
<% @all_my_attributes.each do |attr| -%>
  <% field_attributes = attr.field_name.attribute %>
  <% if @available_many_manies.include? attr -%>
    <h3><%= attr.field_name.pluralize %></h3> 
    <%= @object.send(attr.source.collection_name_helper.to_sym).map do |f| -%>
      <% f.send(field_attributes) %>
    <% end.join(", ") -%>
    <br>
  <% elsif @available_belongs_tos.include? attr -%>
    <h3><%= attr.field_name %></h3>
    <%= @object.send(attr.source.collection_name_helper.singularize.to_sym).send(attr.field_name.attribute.to_sym) rescue "N/A" %><br>
  <% else -%>
   <% sym_attr = attr.field_name.attribute.to_sym -%>
   <% if attr.field_type == "File" -%>
     <h3><%= attr.field_name %></h3>
     <%= link_to Pathname.new(@object.send(sym_attr).to_s).basename.to_s, @object.send(sym_attr).try(:url) %><br>
    <% else -%>
      <% if attr.field_type == "Paragraph" -%>
        <h3><%= attr.field_name %></h3>
        <div class="well" style="background: white;"> <%= raw @object.send(sym_attr) %></div><br>
    <% else -%>
      <h3><%= attr.field_name %></h3>
      <%= @object.send(sym_attr) %><br>
    <% end -%>
    <% end -%>
  <% end -%>
<% end -%>

<hr>
<%= link_to 'Edit', edit_form_renderer_path(@object, form: @form.id), class: "btn" %> 
<%= link_to 'New Entry', new_form_renderer_path(form: @form.id, application: @application.try(:id)), class: "btn" %>
<% back_path = @application ? application_path(@application) : user_path(current_user) -%>
<%= link_to 'Back', back_path, class: "btn" %>

