<% set_application_parameters -%>
<h2>Please check your entires</h2>
<hr>
<% @all_my_attributes.each do |attr| -%>
  <% field_attributes = attr.field_name.attribute %>
  <% if @available_many_manies.include? attr -%>
    <li><b><%= attr.field_name.pluralize %></b>: <%= @object.send(attr.source.collection_name_helper.to_sym).map do |f| -%>
      <% f.send(field_attributes) %>
    <% end.join(", ") -%>
  <% elsif @available_belongs_tos.include? attr -%>
    <li><b><%= attr.field_name %></b>: <%= @object.send(attr.source.collection_name_helper.singularize.to_sym).send(attr.field_name.attribute.to_sym) rescue "N/A" %></li>
  <% else -%>
    <li><b><%= attr.field_name %></b>: <%= @object.send(attr.field_name.attribute.to_sym) %></li>
  <% end -%>
<% end -%>

<hr>
<%= link_to 'Edit', edit_form_renderer_path(@object, form: @form.id), class: "btn" %> 
<%= link_to 'New Entry', new_form_renderer_path(form: @form.id, application: @application.try(:id)), class: "btn" %>
<% back_path = @application ? application_path(@application) : user_path(current_user) -%>
<%= link_to 'Back', back_path, class: "btn" %>

