<%= simple_form_for(@form) do |f| %>
  <%= f.input :form_name %>
  <hr>
  <%= wizard_helper f, @wizard %>
  <div class="row">
    <div class="span6">
      <div class="span4">
        <h4>Selected Attributes</h4>
        <small class="muted"><b>(Drag up/down to re-order)</b></small>
        <div id="selected_items" class="well">
          <% @form.source_attributes.each_with_index do |attr, index| -%>
            <% if @source_attributes.include? attr -%>
              <% data_type = "normal" -%>
            <% elsif @related_many_manies.include? attr -%>
              <% data_type = "many" -%>
            <% elsif @related_belongs_tos.include? attr -%>
              <% data_type = "embedded" -%>
            <% end -%>
            <div class="checkboxes" id= <%= attr.id %> data_type=<%= data_type %> data_source=<%= attr.source.source_name %>>
              <small class="muted"><b>[drag]</b></small>
              <a href="#" id=<%= attr.field_name %>><%= attr.field_name %>&nbsp;&nbsp;</a> <a href="#" class="icon-remove muted remove"><small> remove</small></a>
              <input class='hidden' id='form_priority' name='[form][form_attributes_attributes][<%= attr.id %>][priority]' type='hidden' value='<%= index + 1 %>'>
              <input class='hidden' id='form_source_attributes' name='[form][form_attributes_attributes][<%= attr.id %>][source_attribute_id]' type='hidden' value='<%= attr.id %>'>
            </div>
          <% end -%>
        </div>
        <div class="form-actions">
          <%= f.button :submit, class: "btn" %>
          <%= link_to 'Back', :back, class: "btn" %>
        </div>
      </div>
    </div>
    <div id="unselected_items" class="span6">
      <div class="span4 offset1">
        <h4>Available Attributes</h4>
        <small class="muted"><b>(Click to select)</b></small>
        <div class="well normal">
          <% @available_source_attributes.each do |attr| -%>
            <%= link_to " #{attr.field_name}", "#", class: "icon-arrow-left unselected", id: attr.id, data_type: "normal", data_source: attr.source.source_name %>
        <% end -%>
        </div>
        <h4>Linked Many-Many Attributes</h4>
        <small class="muted"><b>(Click to select. Only one attribute may be selected)</b></small>
        <div class="well many">
          <% @available_many_manies.each do |attr| -%>
            <%= link_to " #{attr.field_name}", "#", class: "icon-arrow-left unselected", id: attr.id, data_type: "many", data_source: attr.source.source_name %>
        <% end -%>
        </div>
        <h4>Linked Embedded Attributes</h4>
        <small class="muted"><b>(Click to select. Only one attribute may be selected)</b></small>
        <div class="well embedded">
          <% @available_belongs_tos.each do |attr| -%>
            <%= link_to " #{attr.field_name}", "#", class: "icon-arrow-left unselected", id: attr.id, data_type: "embedded", data_source: attr.source.source_name %>
        <% end -%>
        </div>
      </div>
    </div>
  </div>
  <%= f.input :source_id, input_html: { value: @source.id }, as: :hidden -%>

<% end %>
