<%= f.error_notification %>

<div class="form-inputs">
  <% @attributes.each do |m| %>
    <%= f.input m.field_name.gsub(' ','').underscore.to_sym, as: Source.view_mapping[m.field_type] %>
  <%= hidden_field_tag :source, @source.id %>
<% end -%>
</div>

<div class="form-actions">
  <%= f.button :submit, "Create #{@source.source_name}", class: "btn btn-primary" %>
  <%= link_to 'Back', :back, class: "btn" %>
</div>
