<h3>Selected Source: <%= @selected_source.source_name %></h3>
<hr>
<%= simple_form_for @report do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :report_name, label: "Name your Report" %>
    <%= wizard_helper f, @wizard %>
    <%= f.input :user_attributes, collection: User.available_attributes, as: :check_boxes %>
    <hr>
    <p>Data Attributes</p>
    <label class = "checkbox">
      <%= f.collection_check_boxes :source_attribute_ids, @selected_source.source_attributes.all + @selected_source.belongs_tos_attributes + @selected_source.has_manies_attributes + @selected_source.habtms_attributes, :id, :name_with_source %> 
      <%= f.input :source_id, input_html: { value: @selected_source.id }, as: :hidden -%>
    </label>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Create Report", class: "btn btn-primary" %>
    <%= link_to 'Back', user_path(current_user), class: "btn" %>
  </div>
<% end %>

