<table class = "table table-bordered" id="">
  <thead>
  <% unless @model.user_method_list.empty? %>
    <% @user_attributes.each do |u| -%>
      <th><%= u.humanize %></th>
    <% end -%>
  <% end -%>
    <% @attributes.each do |m| -%>
      <th><%= m.field_name.humanize %></th>
    <% end -%>
  </thead>

  <tbody>
  <% @data.each do |d| %>
    <tr>
    <% unless @model.user_method_list.empty? %>
      <% @model.user_method_list.each do |u| -%>
          <td><%= d.send(u) || "N/A" %></td>
      <% end -%>
    <% end -%>
    <% @attributes.each do |m| -%>
      <% if @direct_attributes.include? m -%>
        <% attr_field_name = m.field_name.attribute -%>
        <% if m.field_type == "File" -%>
          <% base_name = Pathname.new(d.send(attr_field_name).url).basename.to_s -%>
          <td><%= link_to(base_name, "/uploads/#{base_name}") || "N/A" %></td>
        <% else -%>
          <td><%= strip_tags d.send(attr_field_name) || "N/A" %></td>
        <% end -%>
      <% elsif @belongs_to_attributes.include? m -%>
      <td><%= d.send(m.elastic_belongs_tos_method_name) || "N/A" rescue "N/A"%></td>
      <% elsif @habtm_attributes.include? m -%>
        <td><%= d.send(m.elastic_habtm_method_name) || "N/A" %></td>
      <% elsif @has_many_attributes.include? m -%>
        <td><%= d.send(m.elastic_has_manies_method_name) || "N/A" %></td>
      <% else -%>
          <td><%= d.send(m.field_name.attribute).to_datetime.to_s(:short) rescue "N/A" %></td>
      <% end -%>
    <% end -%>
    </tr>
  <% end %>
</tbody>
<%= will_paginate @data %>
</table>
