
  <h2>Report name: <%= @report.report_name %></h2>
  <hr>
  <% @report.report_attributes.each do |r| -%>
    <li><b><%= r.source_attribute.source.source_name %></b> - <%= r.source_attribute.field_name %>, <%= r.source_attribute.field_type %></li>
  <% end -%>

  <div class="form-actions">
    <%= link_to 'Edit', edit_report_path(@report), class: 'btn' %>
    <%= link_to 'Back', user_path(current_user), class: 'btn' %>
  </div>
