<div class="filters well">
  <%= form_tag view_reports_path(@report) do %>
    <%# attr = {model: {}, belongs_to: {source_id: {hash of attributes & values}}} %>
      <% @report.find_direct_attributes.each do |direct| -%>
        <%= text_field_tag direct.field_name.attribute.to_sym, nil, placeholder: direct.field_name, name: "search[model][#{direct.field_name.attribute}]" %>
      <% end -%>

      <% @report.find_belongs_to_attributes.each do |direct| -%>
        <%= text_field_tag direct.field_name.attribute.to_sym, nil, placeholder: direct.field_name, name: "search[belongs_to][#{direct.source.id}][#{direct.field_name.attribute}]" %>
      <% end -%>
      <br>
      <%= text_field_tag :from, nil, name: "search[model][created_from]", placeholder: "Creation date: From", class: "datepicker"%>
      <%= text_field_tag :to, nil, name: "search[model][created_to]", placeholder: "Creation date: To", class: "datepicker" %>
      <br>
      <%= submit_tag "Search", class: "btn" %>

  <% end -%>
</div>
<h2><%= @report.report_name.humanize %> Report</h2>
<hr>
<table class = "table table-bordered" id="datatables">
  <thead>
    <% @attributes.each do |m| -%>
      <th><%= m.field_name.humanize %></th>
    <% end -%>
  </thead>

  <tbody>
  <% @data.each do |d| %>
    <tr>
    <% @attributes.each do |m| -%>
      <% if @report.find_direct_attributes.include? m -%>
        <td><%= d.send(m.field_name.attribute) || "N/A" %></td>
      <% elsif @report.find_belongs_to_attributes.include? m -%>
      <td><%= d.send(m.source.collection_name_helper.singularize).send(m.field_name.attribute) || "N/A" rescue "N/A"%></td>
      <% elsif @report.find_habtm_attributes.include? m -%>
        <td><%= d.send(m.source.collection_name_helper).map(&m.field_name.attribute.to_sym).join(", ") || "N/A" %></td>
      <% elsif @report.find_has_many_attributes.include? m -%>
        <td><%= d.send(m.source.collection_name_helper).map(&m.field_name.attribute.to_sym).join(", ") || "N/A" %></td>
      <% else -%>
          <td><%= d.send(m.field_name.attribute).to_s(:short) rescue "N/A" %></td>
      <% end -%>
    <% end -%>
    </tr>
  <% end %>
</tbody>
</table>

<div class="form-actions"><%= link_to 'Back', :back, class: "btn" %></div>
